	*{
		box-sizing: border-box;
		list-style-type: none;
		background-color: black;
	}

	body {
		margin: 0;
		padding: 0;
		text-align: center;
		color: white;
	}

	img{ 
		width: 500px;
		height:200px;
	 }
	ul{
		padding: 0px;
		margin: 0px;
	}